*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: rgb(26, 23, 21);
    text-align: center;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 20px;

}
.text{
    background-color: rgb(172, 150, 79);
    margin: 3px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.text-1 {
    display: none;
}
.text-3{
    display: none;
}
p{
    padding-top: 10px;
}
.food-1{
    height: 300px;
    width: 200px;
    display: flex;
    margin: 10px 100px ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.food-2{
     height: 300px;
     width: 300px;
     display: inline-flex;
     margin: 10px 100px ;
     justify-content: center;
}
.images .media-image{
    display: none;
}

.contact h2{
    text-align: center;
    font-size: 40px;
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
   
}
.contact-image{
    height: 300px;
    width: 100%;
    display: flex;
    margin: 10px 100px ;
    object-fit: cover;
}
.footer{
    background-color: black;
    color: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
}
.footer h1{
    text-align: center;
    padding-bottom: 20px;
}
/*media query */
@media (min-width:700px){
    .text{
        display: flex;
    }
    .text p{
        
        background-color: rgb(8, 21, 22); 
        margin: 0 auto;
        color: #fff;
    }
    .text-1{
        display: block;
        margin-right: 40px;

    }
    .text-3 {
        display: none;
    }
    .food-2{
        display: none;
    }
    .images{
        display: flex;
        width: 650;
        margin: 0 auto;
}
    .images .media-image{
        display: flex;
        height: 300px;
        width: 300px;
        display: inline-flex;
        margin: 10px auto ;
        justify-content: center;
    }
    .contact-image{
        text-align: center;
      
}

}